{% extends "base.html" %}

{% block title %}Мои курсы{% endblock %}

{% block content %}
  <h1>Мои курсы</h1>
  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
          <a href="{% url "courses:update" course.id %}">Редактировать</a>
          <a href="{% url "courses:delete" course.id %}">Удалить</a>
        </p>
      </div>
    {% empty %}
      <p>У вас еще нет созданных курсов.</p>
    {% endfor %}
    <p>
      <a href="{% url "courses:create" %}" class="button">Создать новый курс</a>
    </p>
  </div>
{% endblock %}