{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}LearnStack{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <nav>
        <a href="{% url 'courses:list' %}" class="logo">LearnStack</a>
        <ul class="menu">
          {% if request.user.is_authenticated %}
            <li>Привет, {{ user.get_full_name|default:user.username }}!</li>
            <li>
              {% if user.is_staff %}
                <a href="{% url 'courses:manage' %}">Мои курсы</a>
              {% else %}
                <a href="{% url 'students:course_list' %}">Мои курсы</a>
            </li> 
              {% endif %}
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выход</button>
            </form>
          {% else %}
              <li><a href="{% url 'login' %}">Войти</a></li>
              <li><a href="{% url 'students:registration' %}">Регистрация</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- Блок для подключения внешних скриптов -->
    {% block include_js %}
    {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock %}
      });
    </script>
  </body>
</html>